.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  user-select: none;
}
body {
  background-color: rgb(56, 64, 75);
}
.header {
  margin: 50px;
  color: #94adcf;
  font-size: 45px;
}

.App h1 {
  color: #94adcf;
}
